<div class="col-12">
  <div class="card">
    <div class="card-header">
      <strong>Inventários</strong>
      <small></small>
    </div>
    <div class="card-body">
      <div *ngFor="let inventary of inventaries">
        <div class="card-works">
          <div class="row">
            <div class="col-sm-7 border-right">
              <small>Cliente</small>
              <h4>{{inventary.client.name}}</h4>
            </div>
            <div class="col-sm-4 border-right">
              <small>Data</small>
              <h4>{{inventary.startDate | date: 'dd/MM/yyyy'}} - {{inventary.endDate | date: 'dd/MM/yyyy'}}</h4>
            </div>

            <div (click)="detailInventory(inventary._id)" style="cursor: pointer;"
              class="col-sm-1 text-center align-self-center pointer">
              <i class="fa fa-chevron-down"></i>
            </div>
          </div>
        </div>


          <div *ngIf="inventarySelect && findInventory == inventary._id" class="work-content">

            <div class="section">
              <h6>Detalhes</h6>
            </div>
            <div class="row align-items-center">
              <div class="col-sm-10 mb-2">
                <strong>Comentário</strong>
                <p>{{ inventarySelect.description ? inventarySelect.description : '-----' }}</p>
              </div>
              <div class="col-sm-6 mb-2">
                <strong>Data de Criação</strong>
                <p>{{inventarySelect.createdAt | date: 'dd/MM/yyyy' }}</p>
              </div>

            </div>
            <div class="section">
              <h6>Cliente</h6>
            </div>
            <div class="row align-items-center">
              <div class="col-sm-6 mb-2">
                <strong>Email</strong>
                <p>{{ inventarySelect.client.email ? inventarySelect.client.email : '-----' }}</p>
              </div>
              <div class="col-sm-6 mb-2">
                <strong>Telefone</strong>
                <p>{{ inventarySelect.client.phones ? inventarySelect.client.phones.whatsapp + ' / ' +
                  inventarySelect.client.phones.phone : '-----' }}</p>
              </div>

            </div>
            <div class="section">
              <h6>Funcionários</h6>
            </div>
            <div *ngFor="let employee of inventarySelect.employees" class="row align-items-center">
              <div class="col-12">
                <strong>Nome</strong>
                <p>{{ employee.name }}</p>
              </div>
              <div class="col-12">
                <strong>email </strong>
                <p>{{ employee.email }}</p>
              </div>
              <div class="col-6">
                <strong>CPF</strong>
                <p>{{ employee.cpf ? employee.cpf : '-----' }}</p>
              </div>
              <div class="col-6">
                <strong>Telefone</strong>
                <p>{{ employee.phones ? employee.phones.whatsapp + ' / ' + employee.phones.phone : '-----' }}</p>
              </div>


            </div>

            <div class="section">
              <h6>Resultado</h6>
            </div>
            <div class="row align-items-center">
              <div class="col-sm-6">
                <strong>Total de Itens do Cliente</strong>
                <p>{{ inventarySelect.totalClient ? inventarySelect.totalClient : '----' }}
                </p>
              </div>
              <div class="col-sm-6">
                <strong>Total de Itens Bipados</strong>
                <p>{{ inventarySelect.totalBip ? inventarySelect.totalClient : '----' }}
                </p>
              </div>
            </div>

            <div class="section">
              <h6>Seções</h6>
            </div>
            <div class="row align-items-center">
              <div class="col-sm-6">
                <strong>Seção</strong>
                <p>aaa
                </p>
              </div>
              <div class="col-sm-6">
                <strong>Quantidade</strong>
                <p>aaa
                </p>
              </div>
            </div>

          </div>





      </div>
    </div>
  </div>
</div>