<section class="our-services rotated-bg">
  <div class="container">



    <div class="sec-title">
      <img src="../../../assets/img/launcherWeb.png">
      <h2 class="center">Sua nova maneira de fazer inventários</h2>
      <p style="color:black;">A evolução no ramo de inventário e logistica.</p>
      <hr>
      <button (click)="login()" type="button" class="btn btn-danger btn-lg btn-block">Acessar Plataforma</button>

    </div>

     


    <div class="row clearfix">

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="single-service-item">
        
          <div class="service-left-bg"></div>
          <div class="service-icon">
            <i class="fa fa-cloud-download fa-5x"></i>
          </div>
          <div class="service-text">
            <h4>Online / Ontime</h4>
            <p>Estaremos sempre online para quando quiser acessar.</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="single-service-item">
        
          <div class="service-left-bg"></div>
          <div class="service-icon">
            <i class="fa fa-check-square-o fa-5x"></i>

          </div>
          <div class="service-text">
            <h4>Confiável</h4>
            <p>Garantimos total confiabilidade nas informações colhidas.</p>
          </div>
        </div>
      </div>
      

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="single-service-item">
        
          <div class="service-left-bg"></div>
          <div class="service-icon">
            <i class="fa fa-signal fa-5x"></i>
          </div>
          <div class="service-text">
            <h4>+ Valor</h4>
            <p>Seu cliente acompanha em tempo real o inventário com graficos ilustrativos.</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>