




@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800|Muli:200,300,400,500,600,700&display=swap');
body{
  font-family: 'Muli', sans-serif;
  font-size:17px;
  font-weight:400;
  color:#303030;
  line-height:1.5;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
}
.our-services {
    overflow: hidden;
    position: relative;
    padding: 100px 0 70px;
    background: #f8f8f8;
}
.our-services.rotated-bg:before {
    content: '';
    position: absolute;
    width: 1000px;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 886px;
    left: 10%;
    top: 50%;
    background: #ff2626;
}
.our-services .sec-title {
    text-align: center;
}
.sec-title {
    position: relative;
    margin-bottom: 20px;
}
.sec-title h2 {
    position: relative;
    font-size: 40px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 700;
}
.center {
    text-align: center;
}
.our-services .sec-title p {
    max-width: 650px;
    margin: 0 auto;
    color: #848484;
    margin-top: 20px;
}
.sec-title h2.center:before {
    position: absolute;
    content: '';
    background: #000000;
    width: 50px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
}
.our-services .clearfix {
    margin-top: 66px;
}
.single-service-item {
    margin-bottom: 26px;
    position: relative;
    padding: 38px 20px 38px;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 35px rgba(0,0,0,.1);
    -webkit-transition: .5s;
    transition: .5s;
    border: 2px solid #eee;
}
.single-service-item:hover {
    border-color: #ee0202;
    -webkit-transition: .5s;
    transition: .5s;
}
.our-services .single-service-item .service-icon {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
}
.our-services .single-service-item .service-icon img {
    max-width: 64px;
}
.service-text {
    overflow: hidden;
}

.service-text h4 {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 10px;
}
.service-text p {
    color: #777777;
    font-size: 14px;
    line-height: 22px;
}
.service-text h4 a {
    color: #222222;
    transition: .5s;
}
.service-text h4 a:hover {
    color: #000102;
    transition: .5s;
    text-decoration:none;
}