<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Comparar Planilhas (PROC)
        </div>
        <div class="card-body">
                  
            <h5>Neste menu você consegue fazer a conciliação de arquivos entre os enviados pelo cliente e contabilizados em seu inventário</h5>
            <p>
                Arquivo do cliente <br/>
                <input type="file" id="excelCliente" name="excelCliente" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            </p>

            <div class="row">
              <div class="form-group col-sm-6">
                  <label for="vat">Coluna do código de barras do arquivo do cliente <span></span>
                  </label> 
                  <input type="number" placeholder="Número da coluna" [(ngModel)]="posCodBarraClient" class="form-control" >
              </div>
              <div class="form-group col-sm-6">
                <label for="vat">Coluna do da quantidade do arquivo do cliente <span></span>
                </label> 
                <input type="number" placeholder="Número da coluna" [(ngModel)]="posQuantidadeClient" class="form-control" >
              </div>
            </div>
            <hr>
            <p>
                Arquivo do inventário<br/>
                <input type="file" id="excelBipado" name="excelBipado" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            </p>

            <div class="row">
              <div class="form-group col-sm-6">
                  <label for="vat">Coluna do código de barras do arquivo do resultado <span></span>
                  </label> 
                  <input type="number"  placeholder="Número da coluna" [(ngModel)]="posCodBarraBIP" class="form-control" >
              </div>
              <div class="form-group col-sm-6">
                <label for="vat">Coluna do da quantidade do arquivo do resultado <span></span>
                </label> 
                <input type="number"  placeholder="Número da coluna" [(ngModel)]="posQuantidadeBipada" class="form-control" >
              </div>
            </div>

            <hr>
        
            <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                <button (click)="processar()" class="btn btn-block btn-outline-success">Processar</button>
            </div>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>